!!!
%html{lang: :en}
  %head
    %title Tokite
    = csrf_meta_tags

    = stylesheet_link_tag    'tokite/application', media: 'all'
    = javascript_include_tag 'tokite/application'

  %body
    - if current_user
      %nav.nav.has-shadow
        .container
          .nav-left
            = nav_list_item "Top", root_path, ["top"]
            = nav_list_item "Users", users_path, ["users"]
            = nav_list_item "Rules", rules_path, ["rules"]
            = nav_list_item "Watchings", watchings_path, ["watchings"]
          .nav-right
            %span.nav-item.is-tab= current_user.name_with_provider

    %section.section
      - if flash[:error]
        .notification.is-danger= flash[:error]
      - if flash[:info]
        .notification.is-success= flash[:info]

      = yield
