= form_for [@rule_user, @rule] do |f|
  = form_text_field f, :name, size: 40, class: "input"
  = form_text_field f, :query, size: 400, class: "input"
  = form_text_field f, :channel, size: 40, class: "input"
  = form_text_field f, :icon_emoji, size: 40, class: "input"
  = form_text_field f, :additional_text, size: 40, class: "input"
  .field.columns
    .column.is-8= f.submit "Update", class: "button is-primary"
    - if @rule.persisted?
      .column.is-2= link_to "Transfer", new_rule_transfers_path(@rule), class: "button is-primary"
      .column.is-2= link_to "Delete", rule_path(@rule), method: :delete, data: { confirm: %(Delete "#{@rule.name}"?) }, class: "button is-danger"

.message.vspace-40
  .message-header
    Query description
  .message-body
    %h2.title Supported query type
    %table.table.is-bordered
      %tr
        %th Name
        %th Example
      %tr
        %td Plain word
        %td hoge fuga moge
      %tr
        %td Quoted word
        %td "hoge fuga moge"
      %tr
        %td Regular expression word
        %td /(hoge|fuga|moge)/
      %tr
        %td Exclude word
        %td -/(hoge|fuga|moge)/ -user:hogelog

    %h2 Supported query field
    %table.table.is-bordered
      %tr
        %th Field
        %th Description
        %th Example
      %tr
        %td repo:
        %td Match repository name.
        %td repo:hogelog/tokite
      %tr
        %td title:
        %td Match pull_request or issues title.
        %td title:Bug
      %tr
        %td event:
        %td Match event type pull_request, issues, issue_comment, pull_request_review, pull_request_review_comment.
        %td event:/pull_request|issues|pull_request_review|pull_request_review_comment/
      %tr
        %td body:
        %td Match body text.
        %td body:"review please"
      %tr
        %td user:
        %td Match user name.
        %td user:hogelog
      %tr
        %td review_state:
        %td Match pull_request_review state.
        %td review_state:/commented|approved|requested_changes/
      %tr
        %td unspecified
        %td Match title or body field.
        %td review please
