= form_for [@rule_user, @rule] do |f|
  %div
    = f.label :name
    = f.text_field :name, size: 40
  %div
    = f.label :query
    = f.text_field :query, size: 400
  %div
    = f.label :channel
    = f.text_field :channel, size: 40
  %div
    = f.submit
