!!!
%html
  %head
    %title Tokite
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    - if current_user
      %nav.nav.has-shadow
        .container
          .nav-left
            = nav_list_item "Top", root_path
            = nav_list_item "Users", users_path
            = nav_list_item "My Rules", user_rules_path(current_user)
            = nav_list_item "All Rules", rules_path

    %section.section
      = yield
