!!!
%html
  %head
    %title Tokite
    = csrf_meta_tags

    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    - if current_user
      .global_header
        = link_to_unless_current "Top", root_path
        = link_to_unless_current "Users", users_path
        = link_to_unless_current "My Rules", user_rules_path(current_user)
        = link_to_unless_current "All Rules", rules_path

    = yield
